.opaCont {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(59, 51, 51, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contObs{
    position: relative;
    height: 25%;
    width: 35%;
    background: #f7f7f9;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
