.Scripttextbox {
	width: 80%;
	height: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	border-radius: 0.2em;
	font-family: monospace;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	border: none;
	transition: 0.2s;
}
.Scriptflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.containerScript {
	position: relative;
	width: 100%;
	left: 4%;
}
.line-cont-script {
	position: relative;
	top: 20px;
	width: 100%;
	height: 2px;
	background-color: rgb(105, 105, 105);
}
.bottom-cont-script {
	margin-top: 20px;
	position: relative;
	width: 100%;
	transition: 0.2s;
	height: 60px;
}
.btScriptsubmit {
	width: auto;
	height: 40px;
	left: 40%;
	float: right;
	border-radius: 0.3em;
	border: none;
	margin: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	font-family: monospace;
	font-size: x-large;
	transition: 0.2s;
}
.btScriptsubmit:hover {
	cursor: pointer;
	background-color: rgba(211, 133, 16, 0.993);
}
.btbackSC {
	width: auto;
	padding: 10px;
	height: 60px;
	background: none;
	border: none;
	font-family: monospace;
	font-size: x-large;
	transition: 0.2s;
}
.btbackSC:hover {
	cursor: pointer;
}
